@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
  --color-background: #f8fafc;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}
